<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tumor Prediction</title>
</head>
<body>
    <h1>Breast Cancer Tumor Prediction</h1>
    <form method="POST" action="/predict">
        {% for feature in features %}
            <label for="{{ feature }}">{{ feature.replace('_', ' ').title() }}:</label><br>
            <input type="text" id="{{ feature }}" name="{{ feature }}"><br>
        {% endfor %}
        <input type="submit" value="Predict">
    </form>

    <h2>{{ prediction_text }}</h2>
</body>
</html>
